
  particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  overflow: visible;
  text-align: center;
}
button {width: 180px;
    height: 90px;
    background: linear-gradient(to left top, #FF3152 50%, #FF3152 50%); /* 밝은 파란색 그라디언트 */
    border-style: none;
    color: #FFFFFF;
    font-size: 23px;
    letter-spacing: 2px;
    font-family: 'Lato';
    font-weight: 400;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: visible;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    border-radius: 10px; /* 모서리를 둥글게 만들기 위한 속성 */
}
button span {
    position: absolute;
    display: block;
}
button span:nth-child(1) {
    height: 3px;
    width: 200px;
    top: 0px;
    left: -200px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #BDC3C7); /* 검정색 그라디언트 */
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1 {
    0% {
        left: -200px
    }
    100% {
        left: 200px;
    }
}
button span:nth-child(2) {
    height: 70px;
    width: 3px;
    top: -70px;
    right: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #BDC3C7); /* 검정색 그라디언트 */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}

@keyframes span2 {
    0% {
        top: -70px;
    }
    100% {
        top: 70px;
    }
}
button span:nth-child(3) {
    height: 3px;
    width: 200px;
    right: -200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #BDC3C7); /* 검정색 그라디언트 */
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}

@keyframes span3 {
    0% {
        right: -200px;
    }
    100% {
        right: 200px;
    }
}

button span:nth-child(4) {
    height: 70px;
    width: 3px;
    bottom: -70px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #BDC3C7); /* 검정색 그라디언트 */
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}

@keyframes span4 {
    0% {
        bottom: -70px;
    }
    100% {
        bottom: 70px;
    }
}

button:hover {
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
}
button:hover span {
    animation-play-state: paused;
}
}

.preloader {
  position: absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/mario-face.png);
}
